src/main/mule/query_parameter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81c4b73c-c557-4243-b3ba-ba7cd1d53a9b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="query_parameterFlow" doc:id="bf627bca-c830-4b8b-ba4c-89d9c5d40259" >
		<http:listener doc:name="Listener" doc:id="d00e622f-a84e-4518-ac10-e4194fcddac2" config-ref="HTTP_Listener_config" path="/queryparameter"/>
		<set-payload value="#[attributes.queryParams.sname]" doc:name="Set Payload" doc:id="8de66cc4-9bd0-41a6-9897-297cc7d3a94c" />
		<logger level="INFO" doc:name="Logger" doc:id="51952a7e-d955-43fe-9e40-440e20038b0c" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="b213fb5e-8921-42b3-942b-7a40a35fa1e1" path="src/main/resources.Result"/>
	</flow>
</mule>
